{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center ">
      <div class="col-lg-9 col-md-9 col-sm-11">
        <div class="card border-0 shadow-lg ">
          <div class="card-body py-1 px-1 px-sm-1">
            <h2 class="h3 text-center">Quick Check List (up to 100 Lines) | Lines: <span id="ncount"><strong>0</strong></span></h2>
            <form class="p-2" method="POST" action="." >
              {% csrf_token %}
              <div >
                  <textarea class="form-control" required name="text_intent" id="text_intent" rows="5" placeholder="One Message Per Line" ></textarea>
              </div>
              <div class="text-center">
                <button type="submit"  class="mt-2 btn btn-ld btn-primary text-center px-5" id="submit_btn_process">Get Intent</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


{% if show_result %}
<div class="container my-5 ">
  <div class="row col-12">
    <h4 class="text-white">Results <small><a  href="#" onclick="export2csv()">(Export to CSV)</a></small></h4> 
      <div class="table-responsive">
        <table class="table text-white">
          <thead>
            <tr>
              <th>Sr</th>
              <th>Text</th>
              <th>Intent</th>
            </tr>
          </thead>
          <tbody>
            {% for record in records %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{record.Text}}</td>
                    <td>{{record.Intent}}</td>
                </tr> 
           {% empty %}
                <tr>
                  <th colspan=3>No Record Found</th>
                </tr>
           {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>
{% endif %}

{% endblock content %}

{% block extrajs %}
<script type="text/javascript">
    var btn_evnt = document.getElementById('submit_btn_process');
    btn_evnt.addEventListener('click', function () {
      if(document.getElementById("text_intent").value !=''){
        btn_evnt.innerHTML = "Checking.....";
      }
    });
</script>

<script>
var textArea = document.getElementById("text_intent");
var ncount = document.getElementById("ncount");

textArea.addEventListener("keypress", function () {
    var data = textArea.value
    if (data.value !== ''){
        data = data.split(/\r?\n/);
        var cleaned = data.filter(n => n);
        len = cleaned.length;
        ncount.innerHTML = "<strong>" +len+ "</strong>";
    }
    else{
        ncount.innerHTML = "<strong>" +0+ "</strong>";
    }
  
});


if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>



<script>
    function export2csv() {
      let data = "";
      const tableData = [];
      const rows = document.querySelectorAll("table tr");
      for (const row of rows) {
        const rowData = [];
        for (const [index, column] of row.querySelectorAll("th, td").entries()) {
          // To retain the commas in the "Description" column, we can enclose those fields in quotation marks.
          if ((index + 1) % 3 === 0) {
            rowData.push('"' + column.innerText + '"');
          } else {
            rowData.push(column.innerText);
          }
        }
        tableData.push(rowData.join(","));
      }
      data += tableData.join("\n");
      const a = document.createElement("a");
      a.href = URL.createObjectURL(new Blob([data], { type: "text/csv" }));
      a.setAttribute("download", "TextIntentOutputFile.csv");
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
    }
  </script>

{% endblock extrajs %}
